<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="active">
        <%= link_to "#" do %>
        <i class="glyphicon glyphicon-user ltt-icon" aria-hidden="true"></i>
        <span><%= t "admin.user" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
        <i class="glyphicon glyphicon-list-alt ltt-icon" aria-hidden="true"></i>
        <span><%= t "admin.category" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
        <i class="glyphicon glyphicon-book ltt-icon" aria-hidden="true"></i>
        <span><%= t "admin.book" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
        <i class="glyphicon glyphicon-education ltt-icon" aria-hidden="true"></i>
        <span><%= t "admin.author" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
        <i class="glyphicon glyphicon-shopping-cart ltt-icon" aria-hidden="true">
        </i>
        <span><%= t "admin.publisher" %></span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>
